@model IEnumerable<Lab1_ICtaTP.Destination>

@{
    ViewData["Title"] = "Пункти призначення";
}

<h1>Пункти призначення</h1>

<p>
    <a asp-action="Create">Додати новий пункт призначення</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DestinationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DestinationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DestinationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DestinationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
