@model IEnumerable<Lab1_ICtaTP.Train>

@{
    ViewData["Title"] = "Потяги за типом потяга";
}

<h1> Потяги за типом потяга @ViewBag.TrainTypeName </h1>

<p>
    @Html.ActionLink("Додати новий потяг", "Create", new { trainTypeId = ViewBag.TrainTypeId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainType.TrainTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

