@model IEnumerable<Lab1_ICtaTP.Role>

@{
    ViewData["Title"] = "Ролі працівників";
}

<h1>Ролі працівників</h1>

<p>
    <a asp-action="Create">Додати нову роль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonData', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості працівників за ролями",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}

