@model IEnumerable<Lab1_ICtaTP.TrainWorker>

@{
    ViewData["Title"] = "Працівники потягу";
}

<h1>Працівники потягу @ViewBag.AdditionalInfo</h1>

<p>
    @Html.ActionLink("Додати нового працівника", "Create", new { trainId = @ViewBag.TrainId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Train.AdditionalInfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
